#top{
    background-color: #dcc9f4;
    width: 800px;
    margin: 20px auto;
    text-align: center;
}

.top-child{
    width: 20%;
    background-color: #ffd9df;   
    display: inline-block;
    margin: 10px;
}
#middle-child01,
#middle-child02,
#middle-child03 
 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
}

#middle-child01
{top: 100px;
 left: 100px; 
}

#middle-child02
{top: 300px;
 left: 300px; 
}

#middle-child03
{top: 500px;
 left: 500px; 
}