#top{
    background-color: #dcc9f4;
    width: 800px;
    margin: 20px auto;
    text-align: center;
}

.top-child{
    width: 20%;
    background-color: #ffd9df;   
    display: inline-block;
    margin: 10px;
}
#middle{
    background-color: #87ceeb;
    width: 800px;
    height: 800px;
    margin: 20px auto;
    position: relative;
}

#middle div{
    width: 200px;
    height: 200px;
    background-color: #dcc9f4;
    position: absolute;
}

#middle-child01
{top: 100px;
 left: 100px; 
}

#middle-child02
{top: 300px;
 left: 300px; 
}

#middle-child03
{top: 500px;
 left: 500px; 
}

#bottom div{
    width: 800px;
    height: 300px;
    text-align: center;
    background-color: #87ceeb;
    margin: auto;
}

#bottom-div{
    background-color: #e5dcf0;
    width: 400px;
    height: 100px;
}

#bottom-child02{
    left: 200px;
    position: relative;
}

#bottom-child03{
    margin: 400px
    position: relative;
}